<!-- <div class="px-4 sm:px-6 lg:px-8 pb-10">

    <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
            <erp-header [title]="['Editar empleado', `Edición de los datos del empleado ${employee.fullname}`]" />
        </div>
        <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
            <a [routerLink]="['../']" class="block rounded-md bg-indigo-600 py-2 px-3 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                Regresar
            </a>
        </div>
    </div>
    <div class="mt-4 flow-root">
        <form class="space-y-8 divide-y divide-gray-200" [formGroup]="form" (ngSubmit)="new()">
           
            <div class="space-b-8 divide-b divide-gray-200">

                <div class="text-right mt-2">
                    <h3 class="text-sm font-normal leading-6 text-gray-500">
                        Datos personales
                    </h3>
                    <p class="mt-1 text-xs text-gray-400">
                        Registro de los datos personales del empleado
                    </p>
                </div>
                <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
                    
                    <div class="sm:col-span-3 relative">
                        <label for="name"
                            class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">
                                Nombre <span class="text-red-400">*</span>
                        </label>
                        <input type="text" name="name" id="name" formControlName="name" placeholder="Nombre" 
                            class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        <ng-container *ngIf="ctrl['name'].touched && ctrl['name'].errors">
                            <p id="name-required-error" *ngIf="ctrl['name'].hasError('required')" class="mt-1 text-xs text-red-400">
                                El campo es obligatorio
                            </p>
                        </ng-container>
                    </div>

                    <div class="sm:col-span-3 relative">
                        <label for="lastname"
                            class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">
                                Apellidos <span class="text-red-400">*</span>
                        </label>
                        <input type="text" name="lastname" id="lastname" formControlName="lastname" placeholder="Apellidos" 
                            class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        <ng-container *ngIf="ctrl['lastname'].touched && ctrl['lastname'].errors">
                            <p id="lastname-required-error" *ngIf="ctrl['lastname'].hasError('required')" class="mt-1 text-xs text-red-400">
                                El campo es obligatorio
                            </p>
                        </ng-container>
                    </div>

                    <div class="sm:col-span-6 relative">
                        <label for="birthday"
                            class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">
                                Fecha de nacimiento <span class="text-red-400">*</span>
                        </label>
                        <input type="date" name="birthday" id="birthday" formControlName="birthday" placeholder="Fecha de nacimiento" 
                            class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        <ng-container *ngIf="ctrl['birthday'].touched && ctrl['birthday'].errors">
                            <p id="birthday-required-error" *ngIf="ctrl['birthday'].hasError('required')" class="mt-1 text-xs text-red-400">
                                El campo es obligatorio
                            </p>
                        </ng-container>
                    </div>

                    <div class="sm:col-span-3 relative">
                        <label for="gender"
                            class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">
                                Género <span class="text-red-400">*</span>
                        </label>
                        <select name="gender" id="gender" formControlName="gender"
                            class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                <option value="">Seleccione una opción</option>
                                <option value="MALE">Hombre</option>
                                <option value="FEMALE">Mujer</option>
                        </select>
                        <ng-container *ngIf="ctrl['gender'].touched && ctrl['gender'].errors">
                            <p id="gender-required-error" *ngIf="ctrl['gender'].hasError('required')" class="mt-1 text-xs text-red-400">
                                El campo es obligatorio
                            </p>
                        </ng-container>
                    </div>

                    <div class="sm:col-span-3 relative">
                        <label for="maritalStatus"
                            class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">
                                Estado civil <span class="text-red-400">*</span>
                        </label>
                        <select name="maritalStatus" id="maritalStatus" formControlName="maritalStatus"
                            class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" id="maritalStatus" formControlName="maritalStatus">
                                <option value="">Seleccione una opción</option>
                                <option value="SINGLE">Soltero/a</option>
                                <option value="MARRIED">Casado/a</option>
                                <option value="DIVORCED">Divorciado/a</option>
                                <option value="WIDOW">Viudo/a</option>
                        </select>
                        <ng-container *ngIf="ctrl['maritalStatus'].touched && ctrl['maritalStatus'].errors">
                            <p id="maritalStatus-required-error" *ngIf="ctrl['maritalStatus'].hasError('required')" class="mt-1 text-xs text-red-400">
                                El campo es obligatorio
                            </p>
                        </ng-container>
                    </div>

                    <div class="sm:col-span-6 relative">
                        <label for="curp"
                            class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">
                                CURP <span class="text-red-400">*</span>
                        </label>
                        <input type="text" name="curp" id="curp" formControlName="curp" placeholder="CURP" 
                            class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        <ng-container *ngIf="ctrl['curp'].touched && ctrl['curp'].errors">
                            <p id="curp-required-error" *ngIf="ctrl['curp'].hasError('required')" class="mt-1 text-xs text-red-400">
                                El campo es obligatorio
                            </p>
                            <p id="curp-pattern-error" *ngIf="ctrl['curp'].hasError('pattern')" class="mt-1 text-xs text-red-400">
                                El campo es inválido
                            </p>
                        </ng-container>
                    </div>

                    <ng-container formGroupName="address">
                        <div class="sm:col-span-3 relative">
                            <label for="street"
                                class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">
                                    Calle <span class="text-red-400">*</span>
                            </label>
                            <input type="text" name="street" id="street" formControlName="street" placeholder="Calle" 
                                class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            <ng-container *ngIf="ctrl['address'].get('street')?.touched && ctrl['address'].get('street')?.errors">
                                <p id="street-required-error" *ngIf="ctrl['address'].get('street')?.hasError('required')" class="mt-1 text-xs text-red-400">
                                    El campo es obligatorio
                                </p>
                            </ng-container>
                        </div>

                        <div class="sm:col-span-2 relative">
                            <label for="exterior"
                                class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">
                                    No. exterior <span class="text-red-400">*</span>
                            </label>
                            <input type="text" name="exterior" id="exterior" formControlName="exterior" placeholder="No. exterior" 
                                class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            <ng-container *ngIf="ctrl['address'].get('exterior')?.touched && ctrl['address'].get('exterior')?.errors">
                                <p id="exterior-required-error" *ngIf="ctrl['address'].get('exterior')?.hasError('required')" class="mt-1 text-xs text-red-400">
                                    El campo es obligatorio
                                </p>
                            </ng-container>
                        </div>

                        <div class="sm:col-span-1 relative">
                            <label for="interior"
                                class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">
                                    No. interior
                            </label>
                            <input type="text" name="interior" id="interior" formControlName="interior" placeholder="No. interior" 
                                class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>

                        <div class="sm:col-span-2 relative">
                            <label for="neighborhood"
                                class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">
                                    Colonia <span class="text-red-400">*</span>
                            </label>
                            <input type="text" name="neighborhood" id="neighborhood" formControlName="neighborhood" placeholder="Colonia" 
                                class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            <ng-container *ngIf="ctrl['address'].get('neighborhood')?.touched && ctrl['address'].get('neighborhood')?.errors">
                                <p id="neighborhood-required-error" *ngIf="ctrl['address'].get('neighborhood')?.hasError('required')" class="mt-1 text-xs text-red-400">
                                    El campo es obligatorio
                                </p>
                            </ng-container>
                        </div>

                        <div class="sm:col-span-2 relative">
                            <label for="city"
                                class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">
                                    Ciudad <span class="text-red-400">*</span>
                            </label>
                            <input type="text" name="city" id="city" formControlName="city" placeholder="Ciudad" 
                                class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            <ng-container *ngIf="ctrl['address'].get('city')?.touched && ctrl['address'].get('city')?.errors">
                                <p id="city-required-error" *ngIf="ctrl['address'].get('city')?.hasError('required')" class="mt-1 text-xs text-red-400">
                                    El campo es obligatorio
                                </p>
                            </ng-container>
                        </div>

                        <div class="sm:col-span-2 relative">
                            <label for="municipality"
                                class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">
                                    Municipio <span class="text-red-400">*</span>
                            </label>
                            <input type="text" name="municipality" id="municipality" formControlName="municipality" placeholder="Municipio" 
                                class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            <ng-container *ngIf="ctrl['address'].get('municipality')?.touched && ctrl['address'].get('municipality')?.errors">
                                <p id="municipality-required-error" *ngIf="ctrl['address'].get('municipality')?.hasError('required')" class="mt-1 text-xs text-red-400">
                                    El campo es obligatorio
                                </p>
                            </ng-container>
                        </div>

                        <div class="sm:col-span-3 relative">
                            <label for="state"
                                class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">
                                    Estado <span class="text-red-400">*</span>
                            </label>
                            <input type="text" name="state" id="state" formControlName="state" placeholder="Estado" 
                                class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            <ng-container *ngIf="ctrl['address'].get('state')?.touched && ctrl['address'].get('state')?.errors">
                                <p id="state-required-error" *ngIf="ctrl['address'].get('state')?.hasError('required')" class="mt-1 text-xs text-red-400">
                                    El campo es obligatorio
                                </p>
                            </ng-container>
                        </div>

                        <div class="sm:col-span-2 relative">
                            <label for="country"
                                class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">
                                    País <span class="text-red-400">*</span>
                            </label>
                            <input type="text" name="country" id="country" formControlName="country" placeholder="País" 
                                class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            <ng-container *ngIf="ctrl['address'].get('country')?.touched && ctrl['address'].get('country')?.errors">
                                <p id="country-required-error" *ngIf="ctrl['address'].get('country')?.hasError('required')" class="mt-1 text-xs text-red-400">
                                    El campo es obligatorio
                                </p>
                            </ng-container>
                        </div>

                        <div class="sm:col-span-1 relative">
                            <label for="zip"
                                class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">
                                    Codigo postal <span class="text-red-400">*</span>
                            </label>
                            <input type="text" name="zip" id="zip" formControlName="zip" placeholder="Codigo postal" 
                                class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            <ng-container *ngIf="ctrl['address'].get('zip')?.touched && ctrl['address'].get('zip')?.errors">
                                <p id="zip-required-error" *ngIf="ctrl['address'].get('zip')?.hasError('required')" class="mt-1 text-xs text-red-400">
                                    El campo es obligatorio
                                </p>
                                <p id="zip-pattern-error" *ngIf="ctrl['address'].get('zip')?.hasError('pattern')" class="mt-1 text-xs text-red-400">
                                    El campo no es válido
                                </p>
                            </ng-container>
                        </div>

                        <ng-container formGroupName="streets">
                            <div class="sm:col-span-3 relative">
                                <label for="a"
                                    class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">
                                        Entre calle
                                </label>
                                <input type="text" name="a" id="a" formControlName="a" placeholder="Entre calle" 
                                    class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>

                            <div class="sm:col-span-3 relative">
                                <label for="b"
                                    class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">
                                        Y calle
                                </label>
                                <input type="text" name="b" id="b" formControlName="b" placeholder="Y calle" 
                                    class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </ng-container>
                    </ng-container>

                </div>

            </div>

            <div class="space-b-8 divide-b divide-gray-200">

                <div class="text-right mt-2">
                    <h3 class="text-sm font-normal leading-6 text-gray-500">
                        Datos laborales
                    </h3>
                    <p class="mt-1 text-xs text-gray-400">
                        Registro de los datos laborales del empleado
                    </p>
                </div>
                <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
                    
                    <div class="sm:col-span-2 relative">
                        <label for="email"
                            class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">
                                Correo <span class="text-red-400">*</span>
                        </label>
                        <input type="email" name="email" id="email" formControlName="email" placeholder="Correo" 
                            class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        <ng-container *ngIf="ctrl['email'].touched && ctrl['email'].errors">
                            <p id="email-required-error" *ngIf="ctrl['email'].hasError('required')" class="mt-1 text-xs text-red-400">
                                El campo es obligatorio
                            </p>
                            <p id="email-pattern-error" *ngIf="ctrl['email'].hasError('pattern')" class="mt-1 text-xs text-red-400">
                                El campo no es válido
                            </p>
                        </ng-container>
                    </div>

                    <div class="sm:col-span-2 relative">
                        <label for="phone"
                            class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">
                                Télefono <span class="text-red-400">*</span>
                        </label>
                        <input type="email" name="phone" id="phone" formControlName="phone" placeholder="Télefono" 
                            class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        <ng-container *ngIf="ctrl['phone'].touched && ctrl['phone'].errors">
                            <p id="phone-required-error" *ngIf="ctrl['phone'].hasError('required')" class="mt-1 text-xs text-red-400">
                                El campo es obligatorio
                            </p>
                            <p id="phone-pattern-error" *ngIf="ctrl['phone'].hasError('pattern')" class="mt-1 text-xs text-red-400">
                                El campo no es válido
                            </p>
                        </ng-container>
                    </div>

                    <div class="sm:col-span-2 relative">
                        <label for="role"
                            class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">
                                Role <span class="text-red-400">*</span>
                        </label>
                        <select name="role" id="role" formControlName="role" 
                            class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                <option value="">Seleccione una opción</option>
                                <option value="USER">Usuario</option>
                                <option value="ADMIN">Administrador</option>
                        </select>
                        <ng-container *ngIf="ctrl['role'].touched && ctrl['role'].errors">
                            <p id="role-required-error" *ngIf="ctrl['role'].hasError('required')" class="mt-1 text-xs text-red-400">
                                El campo es obligatorio
                            </p>
                        </ng-container>
                    </div>

                    <ng-container formGroupName="job">
                        <div class="sm:col-span-3 relative">
                            <label for="employeeNumber"
                                class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">
                                    Numero de empleado <span class="text-red-400">*</span>
                            </label>
                            <input type="email" name="employeeNumber" id="employeeNumber" formControlName="employeeNumber" placeholder="Numero de empleado" 
                                class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            <ng-container *ngIf="ctrl['job'].get('employeeNumber')?.touched && ctrl['job'].get('employeeNumber')?.errors">
                                <p id="employeeNumber-required-error" *ngIf="ctrl['job'].get('employeeNumber')?.hasError('required')" class="mt-1 text-xs text-red-400">
                                    El campo es obligatorio
                                </p>
                                <p id="employeeNumber-pattern-error" *ngIf="ctrl['job'].get('employeeNumber')?.hasError('pattern')" class="mt-1 text-xs text-red-400">
                                    El campo no es válido
                                </p>
                            </ng-container>
                        </div>

                        <div class="sm:col-span-3 relative">
                            <label for="nss"
                                class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">
                                    Numero de seguridad social <span class="text-red-400">*</span>
                            </label>
                            <input type="email" name="nss" id="nss" formControlName="nss" placeholder="NSS" 
                                class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            <ng-container *ngIf="ctrl['job'].get('nss')?.touched && ctrl['job'].get('nss')?.errors">
                                <p id="nss-required-error" *ngIf="ctrl['job'].get('nss')?.hasError('required')" class="mt-1 text-xs text-red-400">
                                    El campo es obligatorio
                                </p>
                                <p id="nss-required-error" *ngIf="ctrl['job'].get('nss')?.hasError('pattern')" class="mt-1 text-xs text-red-400">
                                    El campo no es válido
                                </p>
                            </ng-container>
                        </div>

                        <div class="sm:col-span-3 relative">
                            <label for="rfc"
                                class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">
                                    RFC <span class="text-red-400">*</span>
                            </label>
                            <input type="email" name="rfc" id="rfc" formControlName="rfc" placeholder="RFC" 
                                class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            <ng-container *ngIf="ctrl['job'].get('rfc')?.touched && ctrl['job'].get('rfc')?.errors">
                                <p id="rfc-required-error" *ngIf="ctrl['job'].get('rfc')?.hasError('required')" class="mt-1 text-xs text-red-400">
                                    El campo es obligatorio
                                </p>
                                <p id="rfc-required-error" *ngIf="ctrl['job'].get('rfc')?.hasError('pattern')" class="mt-1 text-xs text-red-400">
                                    El campo no es válido
                                </p>
                            </ng-container>
                        </div>

                        <div class="sm:col-span-3 relative">
                            <label for="schooling"
                                class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">
                                    Escolaridad <span class="text-red-400">*</span>
                            </label>
                            <select name="schooling" id="schooling" formControlName="schooling"
                                class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                    <option value="">Seleccione una opción</option>
                                    <option value="PRESCHOOL">Primaria</option>
                                    <option value="MIDDLE SCHOOL">Secundaria</option>
                                    <option value="HIGH SCHOOL">Preparatoria</option>
                                    <option value="CAREER TECH">Carrera tecnica</option>
                                    <option value="COLLEGE DEGREE">Licenciatura</option>
                                    <option value="ENGINEERING">Ingenieria</option>
                                    <option value="MASTERS DEGREE">Maestria</option>
                                    <option value="DOCTORAL DEGREE">Doctorado</option>
                                    <option value="UNSPECIFIED">Sin especificar</option>
                            </select>
                            <ng-container *ngIf="ctrl['job'].get('schooling')?.touched && ctrl['job'].get('schooling')?.errors">
                                <p id="schooling-required-error" *ngIf="ctrl['job'].get('schooling')?.hasError('required')" class="mt-1 text-xs text-red-400">
                                    El campo es obligatorio
                                </p>
                            </ng-container>
                        </div>

                        <ng-container formArrayName="workArea" *ngFor="let field of workAreaField.controls; index as i">
                            <ng-container [formGroupName]="i">
                                <div class="sm:col-span-3 relative">
                                    <label for="area"
                                        class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">
                                            Area <span class="text-red-400">*</span>
                                    </label>
                                    <select name="area" id="area" formControlName="area"
                                        class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                            <option value="">Seleccione una opción</option>
                                            <option value="IT">Sistemas IT</option>
                                    </select>
                                    <ng-container *ngIf="workAreaField.controls[i].get('area')?.touched && workAreaField.controls[i].get('area')?.errors">
                                        <p id="area-required-error" *ngIf="workAreaField.controls[i].get('area')?.hasError('required')" class="mt-1 text-xs text-red-400">
                                            El campo es obligatorio
                                        </p>
                                    </ng-container>
                                </div>

                                <div class="sm:col-span-3 relative">
                                    <label for="range"
                                        class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">
                                            Rango <span class="text-red-400">*</span>
                                    </label>
                                    <select name="range" id="range" formControlName="range"
                                        class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                            <option value="">Seleccione una opción</option>
                                            <option value="MANAGER">Gerente</option>
                                    </select>
                                    <ng-container *ngIf="workAreaField.controls[i].get('range')?.touched && workAreaField.controls[i].get('range')?.errors">
                                        <p id="range-required-error" *ngIf="workAreaField.controls[i].get('range')?.hasError('required')" class="mt-1 text-xs text-red-400">
                                            El campo es obligatorio
                                        </p>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </ng-container>

                        <div class="sm:col-span-6 flex justify-end">
                            <span class="isolate inline-flex rounded-md shadow-sm">
                                <button type="button" (click)="addWorkArea()" class="relative inline-flex items-center gap-x-1.5 rounded-l-md bg-green-600 px-3 py-2 text-sm font-semibold text-white hover:bg-green-700 focus:z-10 transition-all duration-300">
                                    <i class="fa-solid fa-plus"></i>
                                    Nueva area
                                </button>
                                <button type="button" (click)="delWorkArea()" *ngIf="workAreaField.length !== 1"
                                    class="relative -ml-px inline-flex items-center rounded-r-md bg-red-600 px-3 py-2 text-sm font-semibold text-white hover:bg-red-700 focus:z-10 transition-all duration-300">
                                        <i class="fa-solid fa-minus"></i>
                                </button>
                            </span>
                        </div>

                        <div class="sm:col-span-6 relative">
                            <label for="description"
                                class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">
                                    Descripción <span class="text-red-400">*</span>
                            </label>
                            <input type="email" name="description" id="description" formControlName="description" placeholder="Descripción" 
                                class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            <ng-container *ngIf="ctrl['job'].get('description')?.touched && ctrl['job'].get('description')?.errors">
                                <p id="description-required-error" *ngIf="ctrl['job'].get('description')?.hasError('required')" class="mt-1 text-xs text-red-400">
                                    El campo es obligatorio
                                </p>
                            </ng-container>
                        </div>

                        <ng-container formGroupName="schedule">
                            <div class="sm:col-span-3 relative">
                                <label for="start"
                                    class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">
                                        Horara de inicio <span class="text-red-400">*</span>
                                </label>
                                <input type="email" name="start" id="start" formControlName="start" placeholder="HH:mm" 
                                    class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                <ng-container *ngIf="ctrl['job'].get('schedule.start')?.touched && ctrl['job'].get('schedule.start')?.errors">
                                    <p id="start-required-error" *ngIf="ctrl['job'].get('schedule.start')?.hasError('required')" class="mt-1 text-xs text-red-400">
                                        El campo es obligatorio
                                    </p>
                                    <p id="start-required-error" *ngIf="ctrl['job'].get('schedule.start')?.hasError('pattern')" class="mt-1 text-xs text-red-400">
                                        El campo no es válido
                                    </p>
                                </ng-container>
                            </div>

                            <div class="sm:col-span-3 relative">
                                <label for="end"
                                    class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">
                                        Hora de termino <span class="text-red-400">*</span>
                                </label>
                                <input type="email" name="end" id="end" formControlName="end" placeholder="HH:mm" 
                                    class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                <ng-container *ngIf="ctrl['job'].get('schedule.end')?.touched && ctrl['job'].get('schedule.end')?.errors">
                                    <p id="end-required-error" *ngIf="ctrl['job'].get('schedule.end')?.hasError('required')" class="mt-1 text-xs text-red-400">
                                        El campo es obligatorio
                                    </p>
                                    <p id="start-required-error" *ngIf="ctrl['job'].get('schedule.end')?.hasError('pattern')" class="mt-1 text-xs text-red-400">
                                        El campo no es válido
                                    </p>
                                </ng-container>
                            </div>
                        </ng-container>

                        <div class="sm:col-span-3 relative">
                            <label for="salary"
                                class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">
                                    Salario <span class="text-red-400">*</span>
                            </label>
                            <input type="email" name="salary" id="salary" formControlName="salary" placeholder="Salario" 
                                class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            <ng-container *ngIf="ctrl['job'].get('salary')?.touched && ctrl['job'].get('salary')?.errors">
                                <p id="salary-required-error" *ngIf="ctrl['job'].get('salary')?.hasError('required')" class="mt-1 text-xs text-red-400">
                                    El campo es obligatorio
                                </p>
                                <p id="start-pattern-error" *ngIf="ctrl['job'].get('salary')?.hasError('pattern')" class="mt-1 text-xs text-red-400">
                                    El campo no es válido
                                </p>
                            </ng-container>
                        </div>

                        <div class="sm:col-span-3 relative">
                            <label for="accountNumber"
                                class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">
                                    Numero de cuenta <span class="text-red-400">*</span>
                            </label>
                            <input type="email" name="accountNumber" id="accountNumber" formControlName="accountNumber" placeholder="0000 0000 0000 0000" 
                                class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            <ng-container *ngIf="ctrl['job'].get('accountNumber')?.touched && ctrl['job'].get('accountNumber')?.errors">
                                <p id="accountNumber-required-error" *ngIf="ctrl['job'].get('accountNumber')?.hasError('required')" class="mt-1 text-xs text-red-400">
                                    El campo es obligatorio
                                </p>
                                <p id="start-pattern-error" *ngIf="ctrl['job'].get('accountNumber')?.hasError('pattern')" class="mt-1 text-xs text-red-400">
                                    El campo no es válido
                                </p>
                            </ng-container>
                        </div>
                    </ng-container>

                </div>

            </div>
          
            <div class="pt-5">
                <div class="flex justify-end">
                    <a [routerLink]="['../']" class="rounded-md bg-white py-2 px-3 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                        Cancel
                    </a>
                    <button type="submit" class="ml-3 inline-flex justify-center rounded-md bg-indigo-600 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:opacity-30">
                        Guardar
                    </button>
                </div>
            </div>

        </form>
    </div>

</div> -->