<div class="flex h-full">
    <erp-sidebar/>

    <!-- Content area -->
    <div class="flex flex-1 flex-col overflow-hidden">
        <erp-navigation/>

        <!-- Main content -->
        <div class="flex flex-1 items-stretch overflow-hidden">
            <main class="flex-1 overflow-y-auto">
                <div class="pt-6 px-2 max-w-full">
                    <router-outlet></router-outlet>
                    <erp-view/>
                </div>
            </main>
        </div>
    </div>
</div>
