<div class="card card-custom card-shadowless rounded-top-0">
    <!--begin::Body-->
    <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label font-weight-bolder text-dark">
                Nuevo empleado
            </span>
            <span class="text-muted mt-3 font-weight-bold font-size-sm">
                Formulario de un nuevo trabajador
            </span>
        </h3>
        <div class="card-toolbar">
            <a class="btn btn-primary" [routerLink]="['../..', '1']">Regresar</a>
        </div>
    </div>
    <div class="card-body p-0">
        <div class="row justify-content-center py-8 px-8 py-lg-15 px-lg-10">
            <div class="col-xl-12 col-xxl-10">
                <!--begin::Wizard Form-->
                <form class="form" id="kt_form" #registerForm="ngForm"
                    (ngSubmit)="register(registerForm)">
                    <div class="row justify-content-center">
                        <div class="col-xl-9">

                            <!-- Datos personales -->
                            <div class="my-5 step" data-wizard-type="step-content"
                                data-wizard-state="current">
                                <h5 class="text-dark font-weight-bold my-10">
                                    Datos personales:
                                </h5>

                                <div class="form-group row ">
                                    <div class="col-6">
                                        <input required
                                            class="form-control form-control-solid form-control-lg"
                                            name="name" [(ngModel)]="employee.name" type="text"
                                            placeholder="Nombre" />
                                    </div>
                                    <div class="col-6">
                                        <input required
                                            class="form-control form-control-solid form-control-lg"
                                            name="lastname" [(ngModel)]="employee.lastname"
                                            type="text" placeholder="Apellidos" />
                                    </div>

                                </div>

                                <div class="form-group row">
                                    <div class="col-12">
                                        <input required
                                            class="form-control form-control-solid form-control-lg"
                                            name="birthday" [(ngModel)]="employee.birthday"
                                            type="date" />
                                    </div>
                                </div>

                                <div class="form-group row">

                                    <div class="col-6">
                                        <select required name="gender"
                                            [(ngModel)]="employee.gender"
                                            class="form-control form-control-solid form-control-lg">
                                            <option value="" selected disabled>
                                                Seleccionar un genero
                                            </option>
                                            <option value="MALE">Masculino</option>
                                            <option value="FEMALE">Femenino</option>
                                        </select>
                                    </div>

                                    <div class="col-6">
                                        <select required name="maritalStatus"
                                            [(ngModel)]="employee.maritalStatus"
                                            class="form-control form-control-solid form-control-lg">
                                            <option value="" selected disabled>
                                                Seleccionar un estado civil
                                            </option>
                                            <option value="SINGLE">Soltero</option>
                                            <option value="MARRIED">Casado</option>
                                            <option value="DIVORCED">Divorciado</option>
                                            <option value="WIDOW">Viudo</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="form-group row">
                                    <div class="col-12">
                                        <input required
                                            class="form-control form-control-solid form-control-lg"
                                            name="curp" [(ngModel)]="employee.curp" type="text"
                                            placeholder="CURP" />
                                    </div>
                                </div>

                                <h6 class="text-muted font-weight-bold my-10">
                                    Direccion:
                                </h6>

                                <div class="form-group row">

                                    <div class="col-5">
                                        <input required
                                            class="form-control form-control-solid form-control-lg"
                                            name="address.street"
                                            [(ngModel)]="employee.address.street" type="text"
                                            placeholder="Calle" />
                                    </div>

                                    <div class="col-3">
                                        <input required
                                            class="form-control form-control-solid form-control-lg"
                                            name="address.exterior"
                                            [(ngModel)]="employee.address.exterior" type="text"
                                            placeholder="No. exterior" />
                                    </div>

                                    <div class="col-4">
                                        <input
                                            class="form-control form-control-solid form-control-lg"
                                            name="address.interior"
                                            [(ngModel)]="employee.address.interior" type="text"
                                            placeholder="No. interior (opcional)" />
                                    </div>

                                </div>

                                <div class="form-group row">

                                    <div class="col-6">
                                        <input required
                                            class="form-control form-control-solid form-control-lg"
                                            name="address.neighborhood"
                                            [(ngModel)]="employee.address.neighborhood"
                                            type="text" placeholder="Colonia" />
                                    </div>

                                    <div class="col-6">
                                        <input required
                                            class="form-control form-control-solid form-control-lg"
                                            name="address.city"
                                            [(ngModel)]="employee.address.city" type="text"
                                            placeholder="Ciudad" />
                                    </div>

                                </div>

                                <div class="form-group row">

                                    <div class="col-6">
                                        <input required
                                            class="form-control form-control-solid form-control-lg"
                                            name="address.municipality"
                                            [(ngModel)]="employee.address.municipality"
                                            type="text" placeholder="Municipio" />
                                    </div>

                                    <div class="col-6">
                                        <select required name="address.state"
                                            [(ngModel)]="employee.address.state"
                                            class="form-control form-control-solid form-control-lg">
                                            <option value="" selected disabled>
                                                Seleccionar un estado...
                                            </option>
                                            <option value="AGU">Aguascalientes
                                            </option>
                                            <option value="BCN">Baja California
                                            </option>
                                            <option value="BCS">Baja California
                                                Sur</option>
                                            <option value="CAM">Campeche</option>
                                            <option value="CHP">Chiapas</option>
                                            <option value="CHH">Chihuahua</option>
                                            <option value="DIF">Ciudad de México</option>
                                            <option value="COA">Coahuila</option>
                                            <option value="COL">Colima</option>
                                            <option value="DUR">Durango</option>
                                            <option value="MEX">Estado de México
                                            </option>
                                            <option value="GUA">Guanajuato</option>
                                            <option value="GRO">Guerrero</option>
                                            <option value="HID">Hidalgo</option>
                                            <option value="JAL">Jalisco</option>
                                            <option value="MIC">Michoacán</option>
                                            <option value="MOR">Morelos</option>
                                            <option value="NAY">Nayarit</option>
                                            <option value="NLE">Nuevo León</option>
                                            <option value="OAX">Oaxaca</option>
                                            <option value="PUE">Puebla</option>
                                            <option value="QUE">Querétaro</option>
                                            <option value="ROO">Quintana Roo</option>
                                            <option value="SLP">San Luis Potosí
                                            </option>
                                            <option value="SIN">Sinaloa</option>
                                            <option value="SON">Sonora</option>
                                            <option value="TAB">Tabasco</option>
                                            <option value="TAM">Tamaulipas</option>
                                            <option value="TLA">Tlaxcala</option>
                                            <option value="VER">Veracruz</option>
                                            <option value="YUC">Yucatán</option>
                                            <option value="ZAC">Zacatecas</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="form-group row">

                                    <div class="col-8">
                                        <input required
                                            class="form-control form-control-solid form-control-lg"
                                            name="address.country"
                                            [(ngModel)]="employee.address.country" type="text"
                                            placeholder="País" value="México" disabled />
                                    </div>

                                    <div class="col-4">
                                        <input required
                                            class="form-control form-control-solid form-control-lg"
                                            name="address.zip"
                                            [(ngModel)]="employee.address.zip" type="text"
                                            placeholder="Codigo postal" />
                                    </div>

                                </div>

                                <div class="form-group row">

                                    <div class="col-6">
                                        <input
                                            class="form-control form-control-solid form-control-lg"
                                            name="address.streets.a"
                                            [(ngModel)]="employee.address.streets.a" type="text"
                                            placeholder="Entre calle (opcional)" />
                                    </div>

                                    <div class="col-6">
                                        <input
                                            class="form-control form-control-solid form-control-lg"
                                            name="address.streets.b"
                                            [(ngModel)]="employee.address.streets.b" type="text"
                                            placeholder="y calle (opcional)" />
                                    </div>

                                </div>

                            </div>
                            <!-- Datos personales -->

                            <!-- Cuenta -->
                            <div class="my-5 step" data-wizard-type="step-content"
                                data-wizard-state="current">
                                <h5 class="text-dark font-weight-bold my-10">
                                    Cuenta:
                                </h5>

                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">
                                        Correo eletrónico
                                    </label>
                                    <div class="col-lg-9 col-xl-9">
                                        <input required
                                            class="form-control form-control-solid form-control-lg"
                                            name="email" [(ngModel)]="employee.email"
                                            type="email"
                                            placeholder="Dirección de correo eletrónico" />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">
                                        Telefono
                                    </label>
                                    <div class="col-lg-9 col-xl-9">
                                        <div
                                            class="input-group input-group-solid input-group-lg">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="la la-phone"></i>
                                                </span>
                                            </div>
                                            <input required type="text"
                                                class="form-control form-control-solid form-control-lg"
                                                name="phone" [(ngModel)]="employee.phone"
                                                placeholder="Telefono" />
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">
                                        Rol de cuenta
                                    </label>
                                    <div class="col-lg-9 col-xl-9">
                                        <select required name="role" [(ngModel)]="employee.role"
                                            class="form-control form-control-solid form-control-lg">
                                            <option value="" selected disabled>
                                                Seleccionar un rol
                                            </option>
                                            <option value="ADMIN" disabled>
                                                Administrador
                                            </option>
                                            <option value="USER">
                                                Usuario
                                            </option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <!--Cuenta-->

                            <!-- Datos laborales -->
                            <div class="my-5 step" data-wizard-type="step-content"
                                data-wizard-state="current">
                                <h5 class="text-dark font-weight-bold my-10">
                                    Datos laborales:
                                </h5>

                                <div class="form-group row">
                                    <div class="col-12">
                                        <input required
                                            class="form-control form-control-solid form-control-lg"
                                            name="job.employeeNumber"
                                            [(ngModel)]="employee.job.employeeNumber"
                                            type="text" placeholder="Numero de empleado" />
                                    </div>
                                </div>

                                <div class="form-group row">

                                    <div class="col-6">
                                        <input required
                                            class="form-control form-control-solid form-control-lg"
                                            name="job.rfc" [(ngModel)]="employee.job.rfc"
                                            type="text" placeholder="RFC" />
                                    </div>

                                    <div class="col-6">
                                        <select required name="job.schooling"
                                            [(ngModel)]="employee.job.schooling"
                                            class="form-control form-control-solid form-control-lg">
                                            <option value="" selected disabled>
                                                Selecciona un grado de escolaridad
                                            </option>
                                            <option value="PRESCHOOL">
                                                Preescolar o primaria
                                            </option>
                                            <option value="MIDDLE SCHOOL">
                                                Secundaria
                                            </option>
                                            <option value="HIGH SCHOOL">
                                                Preparatoria
                                            </option>
                                            <option value="CAREER TECH">
                                                Carrera tecnica
                                            </option>
                                            <option value="COLLEGE DEGREE">
                                                Licenciatura
                                            </option>
                                            <option value="ENGINEERING">
                                                Ingeniería
                                            </option>
                                            <option value="MASTERS DEGREE">
                                                Maestria
                                            </option>
                                            <option value="DOCTORAL DEGREE">
                                                Doctorado
                                            </option>
                                            <option value="UNSPECIFIED">
                                                No especificado
                                            </option>
                                        </select>
                                    </div>

                                </div>

                                <div class="form-group row">
                                    <div class="col-12">
                                        <input required
                                            class="form-control form-control-solid form-control-lg"
                                            name="job.nss" [(ngModel)]="employee.job.nss"
                                            type="text"
                                            placeholder="Numero de seguridad social" />
                                    </div>
                                </div>

                                <div class="form-group row">

                                    <div class="col-6">
                                        <select required name="job.workArea[0].area"
                                            [(ngModel)]="employee.job.workArea[0].area"
                                            class="form-control form-control-solid form-control-lg">
                                            <option value="" selected disabled>
                                                Selecciona un area de trabajo
                                            </option>
                                            <option value="DIRECTION">Dirección</option>
                                            <option value="PURCHASES">Compras</option>
                                            <option value="SALES">Ventas</option>
                                            <option value="QUALITY">Calidad</option>
                                            <option value="CUSTOMER SERVICE">Atención al cliente
                                            </option>
                                            <option value="PRODUCTION">Produccion</option>
                                            <option value="IT">IT</option>
                                        </select>
                                    </div>

                                    <div class="col-6">
                                        <select required name="job.workArea[0].range"
                                            [(ngModel)]="employee.job.workArea[0].range"
                                            class="form-control form-control-solid form-control-lg">
                                            <option value="" selected disabled>
                                                Selecciona un rango
                                            </option>
                                            <option value="MANAGER">Gerente</option>
                                            <option value="ASSISTANT MANAGER">Sub Director
                                            </option>
                                            <option value="ASSISTANT">Asistente</option>
                                            <option value="AUXILIARY">Auxiliar</option>
                                            <option value="SHIFT LEADER">Jefe de turno</option>
                                            <option value="GENERAL ASSISTANT">Ayudante general
                                            </option>
                                            <option value="OPERATOR">Operador</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="form-group row">
                                    <div class="col-12">
                                        <input required
                                            class="form-control form-control-solid form-control-lg"
                                            name="job.description"
                                            [(ngModel)]="employee.job.description" type="text"
                                            placeholder="Descripción del puesto" />
                                    </div>
                                </div>

                                <div class="form-group row">

                                    <div class="col-6">
                                        <input required
                                            class="form-control form-control-solid form-control-lg"
                                            name="job.schedule.start"
                                            [(ngModel)]="employee.job.schedule.start"
                                            type="time"
                                            placeholder="Inicio de jornada laboral (hh:mm)" />
                                    </div>

                                    <div class="col-6">
                                        <input required
                                            class="form-control form-control-solid form-control-lg"
                                            name="job.schedule.end"
                                            [(ngModel)]="employee.job.schedule.end" type="time"
                                            placeholder="Termino de jornada laboral (hh:mm)" />
                                    </div>

                                </div>

                                <div class="form-group row">

                                    <div class="col-6">
                                        <input required
                                            class="form-control form-control-solid form-control-lg"
                                            name="job.salary" [(ngModel)]="employee.job.salary"
                                            type="text" placeholder="Salario en MXN" />
                                    </div>

                                    <div class="col-6">
                                        <input type="tel" pattern="\d*"
                                            class="form-control form-control-solid form-control-lg"
                                            name="job.accountNumber"
                                            [(ngModel)]="employee.job.accountNumber" type="text"
                                            placeholder="Número de cuenta bancaria" />
                                    </div>

                                </div>

                            </div>
                            <!--Datos laborales-->

                            <!--begin::Wizard Actions-->
                            <div class="d-flex justify-content-between border-top pt-10 mt-15">
                                <div class="mr-2">
                                    <a class="btn btn-light-primary font-weight-bolder px-9 py-4"
                                        data-wizard-type="action-prev"
                                        [routerLink]="['../..', '1']">
                                        Regresar
                                    </a>
                                </div>
                                <div>
                                    <button class="btn btn-success" type="submit">
                                        <span *ngIf="btnRegister"
                                            class="spinner-border spinner-border-sm mr-2"
                                            role="status" aria-hidden="true"></span>
                                        Registrar empleado
                                    </button>
                                </div>
                            </div>
                            <!--end::Wizard Actions-->
                        </div>
                    </div>
                </form>
                <!--end::Wizard Form-->
            </div>
        </div>
    </div>
    <!--end::Body-->
</div>